.comparision-company-title {
  height: 4rem;
  font-size: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-comparision-company-max {
  margin-left: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.company-box-comparision {
  height: 30rem;
  background-color: #212121;
  display: flex;
  margin: 1.6rem 0 2.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  position: relative;
  text-align: center;
  color: #747474;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  flex-wrap: wrap;
}
.company-box-comparision > div:not(:last-child) {
  margin-right: 1.6rem;
}

@media (max-width: 1199px) {
  .company-box-comparision {
    height: 24rem;
  }
}

@media (max-width: 743px) {
  .company-box-comparision {
    height: 34.8rem;
  }
  .comparision-company-title {
    font-size: 1.6rem;
  }
  .select-comparision-company-max {
    font-size: 1.2rem;
  }
  .company-box-comparision > div:not(:last-child) {
    margin-right: 0.8rem;
  }
  .company-box-comparision > div:nth-child(3) {
    margin-right: 0;
  }
}
