.company-investment-section {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}
.table-title {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.investment-sum {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.data-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 3.4rem;
}

.table-header {
  display: flex;
  border-bottom: 2rem solid #131313;
}

.table-header .table-cell {
  background-color: #2e2e2e;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #4b4b4b;
}

.table-row:last-child {
  border-bottom: none;
}

.table-row .table-cell {
  background-color: #212121;
  padding: 1.5rem;
  color: #d8d8d8;
}
.table-cell {
  position: static;
  display: flex;
  align-items: center;
}

.table-cell p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.table-cell-tit {
  font-weight: 700 !important;
}
.table-cell-comment {
  text-align: left !important;
}

.table-cell:nth-child(1) {
  width: 10%;
  text-align: center;
}

.table-cell:nth-child(2) {
  width: 8%;
  text-align: center;
}

.table-cell:nth-child(3) {
  width: 8%;
  text-align: center;
}

.table-cell:nth-child(4) {
  width: 68%;
}

.table-cell:nth-child(5) {
  width: 6%;
  text-align: center;
}
.more-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  color: #eee;
}
.more-button-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background: #131313;
  border: 1px solid #747474;
  border-radius: 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  max-width: 14.4rem;
  text-align: center;
  font-size: 1.4rem;
}

.dropdown-menu div {
  padding: 1.2rem 0;
  cursor: pointer;
}
.dropdown-edit-btn {
  border-bottom: 1px solid #747474;
}
.dropdown-edit-btn:hover {
  background-color: #f5f5f5;
  border-radius: 1rem 1rem 0 0;
  color: #131313;
}
.dropdown-delete-btn:hover {
  background-color: #f5f5f5;
  border-radius: 0 0 1rem 1rem;
  color: #131313;
}

.hidden {
  display: none;
}
/* 태블릿 버전 (768px ~ 1024px) */
@media screen and (max-width: 1024px) {
  .company-investment-section {
    padding: 0 2rem;
  }

  .table-title {
    font-size: 2rem;
  }

  .investment-sum {
    font-size: 1.8rem;
  }

  .table-header .table-cell,
  .table-row .table-cell {
    padding: 1.2rem;
    font-size: 0.9rem;
  }
}

/* 모바일 버전 (768px 이하) */
@media screen and (max-width: 768px) {
  .company-investment-section {
    padding: 0 1rem;
  }
  .data-table {
    min-width: 375px;
  }
  .table-title {
    font-size: 1.8rem;
  }

  .investment-sum {
    font-size: 1.5rem;
  }

  .table-header .table-cell,
  .table-row .table-cell {
    padding: 1rem;
    font-size: 0.8rem;
  }

  .table-cell:nth-child(1) {
    width: 15%;
  }

  .table-cell:nth-child(2) {
    width: 15%;
  }

  .table-cell:nth-child(3) {
    width: 15%;
  }

  .table-cell:nth-child(4) {
    width: 45%;
  }

  .table-cell:nth-child(5) {
    width: 10%;
  }

  .more-button {
    font-size: 1.2rem;
  }
}
