.ksh-investment-delete-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.ksh-investment-delete-modal-overlay.active {
    display: flex;
}

.ksh-investment-delete-modal {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    gap: 2rem;
    background-color: #2e2e2e;
    color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #4b4b4b;
    z-index: 1;
}

.ksh-investment-delete-modal-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ksh-investment-delete-modal-middle-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.ksh-investment-delete-modal-bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ksh-investment-delete-modal-confirm-button {
    background-color: #EB5230;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    padding: 1rem 7rem;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #EB5230;
    margin-top: 1rem;
}