/*구은모*/

.title {
  margin: 3rcap;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.searchAndSort {
  width: 632px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  width: 44.8rem;
  height: 4.8rem;
  border: 0.1rem solid #747474;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}
.Sort {
  color: white;
  width: 168px;
}
